<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cocaine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CocaineExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CocaineTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF32ADA11DD9FC91001608BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF32ADAA1DD9FC91001608BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF32ADCA1DDA039D001608BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF32ADDD1DDA039E001608BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
